@page
@model JewelryStoreUI.Pages.LoginModel
@{
    ViewData["Title"] = "Login";
    Layout = "_Layout";
}

<div class="pd-20 card-box mb-30">
    <div class="clearfix">
        <div class="pull-left">
            <h4 class="text-blue h4">LOGIN</h4>
        </div>
    </div>
    <form>
        <div class="form-group row">
            <label class="col-sm-12 col-md-2 col-form-label">Text</label>
            <div class="col-sm-12 col-md-10">
                <input asp-for="@Model.LoginDTO.Email" class="form-control" type="email" placeholder="Email">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-12 col-md-2 col-form-label">Search</label>
            <div class="col-sm-12 col-md-10">
                <input asp-for="@Model.LoginDTO.Password" class="form-control" type="password" placeholder="Password">
            </div>
            <input type="submit" class="btn btn-primary btn-sm code-copy pull-center" data-clipboard-target="#horizontal-basic" />
        </div>
</form>
                            </code></pre>
        </div>
    </div>
</div>