@page
@model JewelryStoreUI.Pages.LoginModel
@{
    ViewData["Title"] = "Login";
    Layout = "_Layout";
}

<section id="footer">
	<div class="container">
		<div class="row">
			<div class="footer_1 clearfix">
				<div class="col-sm-6">
					<a class="navbar-brand" href="index.html">
						<i class="fa fa-diamond"></i> <span class="col">Jewe</span>lry
					</a>
					<form method="post">
						<div class="footer_1i1 clearfix">
							<h1 class="col_3">LOGIN</h1>
							<input class="form-control" asp-for="LoginDTO.Email" placeholder="Email address" type="text">
							<input class="form-control" asp-for="LoginDTO.Password" placeholder="Password" type="password">
							<h5><input class="button" type="submit" value="LOGIN" /></h5>
						</div>
					</form>
					@if (@Model.ResponseResult.Message != null)
					{
						<h5 class="col_3">@Model.ResponseResult.Message</h5>
					}
				</div>
			</div>
		</div>
	</div>
</section>


