@page
@model JewelryStoreUI.Pages.LoginModel
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

<h4>StoreAccount</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="LoginDTO.Email" class="control-label"></label>
                <input asp-for="LoginDTO.Email" class="form-control" />
                <span asp-validation-for="LoginDTO.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LoginDTO.Password" class="control-label"></label>
                <input type="password" asp-for="LoginDTO.Password" class="form-control" />
                <span asp-validation-for="LoginDTO.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@if(Model.ResponseResult != null)
{
    <p>@Model.ResponseResult.Message</p>
}

@if (ViewData["Error"] != null)
{
    <p>@ViewData["Error"]</p>
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}