@page
@model test1.Pages.GuaranteePage.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "_StaffLayout";
}

<h1>Create</h1>

<h4>Guarantee</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @* <div class="form-group">
                <label asp-for="Guarantee.AccountId" class="control-label"></label>
                <select asp-for="Guarantee.AccountId" class ="form-control" asp-items="ViewBag.AccountId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Guarantee.OrderDetailId" class="control-label"></label>
                <select asp-for="Guarantee.OrderDetailId" class ="form-control" asp-items="ViewBag.OrderDetailId"></select>
            </div> *@
            <div class="form-group">
                <label asp-for="Guarantee.DateReceive" class="control-label"></label>
                <input asp-for="Guarantee.DateReceive" class="form-control" />
                <span asp-validation-for="Guarantee.DateReceive" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Guarantee.DateComplete" class="control-label"></label>
                <input asp-for="Guarantee.DateComplete" class="form-control" />
                <span asp-validation-for="Guarantee.DateComplete" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Guarantee.DateBack" class="control-label"></label>
                <input asp-for="Guarantee.DateBack" class="form-control" />
                <span asp-validation-for="Guarantee.DateBack" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Guarantee.Confirm" class="control-label"></label>
                <input asp-for="Guarantee.Confirm" class="form-control" />
                <span asp-validation-for="Guarantee.Confirm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@* @section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
} *@
